.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
h1 {
  text-align: center;
}
/* Reset Select */
selecti {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Custom Select */
.selecti {
  position: relative;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
selecti {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}
selecti::-ms-expand {
  display: none;
}
/* Arrow */
.selecti::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #663399;
  pointer-events: none;
}
/* Transition */
.selecti:hover::after {
  color: #ffd700;
}
.selecti::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.outeri {
        display: flex;
        border: 2px solid black;
        border-radius: 5px;
        width: 700px;
      }
      .conti {
        display: flex;
        
      }
      .colouri {
        height: 50px;
        border-radius: 5px;
        width: 50px;
        margin: 5px;
      }
      #color1 {
        background-color: purple;
      }
      #color2 {
        background-color: #bf9b30;
      }
      #color3 {
        background-color: white;
      }
      #color4 {
        background-color: black;
      }
      .dropdowni {
        text-align: center;
        font-size: 45px;
        font-family: 'san-serif';
        color: #bf9b30;
        
      }
      
	.infoi {
      width: 300px;
      
    }