@font-face{
  font-family:dawgs;
  src:url(packofwolves.ttf);
  }
body{
}


}
#main {
  width: 1000px;

  text-align: center;
}
body 
{
    display: table-cell;
    vertical-align: middle;
	height: 100%; 
	background:white;
  
  
  
}
html
{
   height: 100%;
   background-image: url(background.jpg);
}
html 
{
    display: table;
    margin: auto;
}
#nav {
  display: flex;
}
.btn {
  width: 20%;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  border: solid 1px black;
  background-color: #56009e;
  color: white;
}
#middle {
  display: flex;
}
#right {
}
#left {
  text-align: center;
}
#main-logo {
  width: 600px;
}
#about {
  font-family: dawgs;
}