@import url('https://fonts.googleapis.com/css?family=Ubuntu');


@font-face{
  font-family:dawgs;
  src:url(packofwolves.ttf);
  }


#main {
  max-width: 1000px;
  width: 100%;
  height:100%;
  text-align: center;
  position: relative;
}

.spacer {
  height: 500px;
}
body 
{
    display: table-cell;
    vertical-align: middle;
  height: 100%; 
  background:white;

}


html
{
   height: 100%;
   background-image: url(background.jpg);
}


html 
{
    display: table;
    margin: auto;
}



#nav {
  display: flex;
}



.btn {
  font-family: 'Ubuntu';
  font-size: 25px;
  width: 100%;
  height: 3.5vh;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 2px #c5b358;
  background-color: #56009e;
  color: #ffd700;
}
#checkout {

  cursor: pointer;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
     width:200px;

}


#checkout:hover {

opacity: 0.4;


}



#middle {
  display: flex;
  width: 100%;
}




#right {
}


#left {
  width: 60%;
  text-align: center;
}



#main-logo {
  width: 100%;
  align-content: center;
}



#about {
  font-family: dawgs;
}



#banner {
    width: 100%;
    background-color: black;
}

#footer {
background-color: #292c30;
width: 100%;
height: 15vh; 
position:absolute;
bottom:0px;
}

#footer_s { 
  padding-top: .5em;
  height: 100%;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}


img{

  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  
}
