#sidebar {
  width:300px;
  height:100%;
  background:black;
  color:white;
  padding-top:300px;
  padding-bottom:300px;
  text-align:center;
  margin:0px;
}

#main {
 display:flex; 
}
#right {
 padding:50px; 
}