html{
background:url(images/background.png);
text-align:center;
}
#main
{
   width:100%;
   height:100%;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

/* SOME ITEM CHILD ELEMENTS */
#tabs
{
width:100%;
height: 100px;
display:flex;
}

#page
{
   width:100%;
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
    -webkit-flex: 1; /* Chrome */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* NEW, */
}
.tabs{
width:17.79%;
height:99%;
padding:1%;


}
.inner-tabs{
width:100%;
height:50px;
color:white;
background:red;
border: 5px solid red;
border-radius: 10px;
text-align:center;

}
#image-bar{
width:95%;
text-align:center;
background:red;
height:30%;
border-radius: 20px;
}
#church-pic{
height:95%;
border-radius: 20px;
}
.div-space{
height:2.5%;
}
#image-bar-main{
display:flex;
}
.div-space2{
width:2.5%;
}
#table{
display:flex;
padding:.5%
}
table{
width:50%;
background:red;
border-radius: 10px;
}
.table-space{
width:25%;
}
#google-map{
width:95%;
height:80%;
}