#sidebar{
width:250px;
background:blue;
height:100%;
text-align:center;
padding-top:300px;
}
#main{
display:flex;
background:url(http://static.wixstatic.com/media/aec6b3_f97276cfd4a347d9a5a10c090ec6f844.jpg_srz_389_554_85_22_0.50_1.20_0.00_jpg_srz);
}
a{
color:yellow; font-weight:bold;
}