html{
width: 99%;
height:98%;
}
#topbar{
width:100%;
height:80px
  ;
display:flex;
}
.tabs{
width:17.79%;
height:100%;
padding:1%;


}
.inner-tabs{
width:100%;
height:50px;
color:white;
background:red;
border: 5px solid red;
border-radius: 10px;
text-align:center;

}
body{
width: 100%;
height:100%;
background:url(background.png);
text-align:center;
}
#google-map{
width:100%;
height:95%;
}
#main{
height:90%;
display:block;
}
#image-bar{
width:95%;
text-align:center;
background:red;
height:50%;
border-radius: 20px;
}
#church-pic{
height:95%;
border-radius: 20px;
}
.div-space{
height:2.5%;
}
#image-bar-main{
display:flex;
}
.div-space2{
width:2.5%;
}