#topbar{
width:100%;
height:10%;
display:flex;
}
.tabs{
width:16.6666666667%;
height:100%;
padding:10px;

}
.inner-tabs{
width:100%;
height:53px;
color:white;
background:blue;
border: 5px solid blue;
border-radius: 10px;
text-align:center;

}
body{
background:url(background.jpg);
}
#google-map{
width:100%;
height:90%;
border:blue ridge 10px;
}
#main{
height:100%;
}
#google_translate_element{
background:blue;
width:16.6666666667%;
border: 5px solid blue;
border-radius: 10px;
height:53px;
padding:10px;
}