#Sidebar {
 width:20%;
  height:100%;
  background:green;
  color:white;
  padding-top:300px;
  text-align:center;
  
}

#main {
 display:flex; 
  
}
body {
 background:navy; 
 color:red;
}
#news {
 color:green;
  padding:60px;
  text-align:center;
  width:100%;
}
#img {
 display:flex; 
}
.class{
color:gold;  
  
}
.div1 {
 border:2px solid red; 
}